html, body{
	height: 100%;
	margin: 0; padding: 0;
	
}
.container{
	display: grid;
	
	
	border: dotted black 1px;
	grid-template-rows: 4fr 2fr 25fr 8fr;
	grid-template-areas: 
		"sidhuvud sidhuvud sidhuvud sidhuvud"
		"meny meny meny meny"
		"huvudinnehåll huvudinnehåll huvudinnehåll övrigt"
		"sidfot sidfot sidfot sidfot"	
}
.sidhuvud{
	grid-area: sidhuvud;
	border: dotted black 1px;
	background: lightgray;
	display: flex;
	
}
.sidhuvud div{
	align-self: flex-end;
	background: white;
	height: 50px;
	width: 250px;
	margin-left: 5px;
	margin-bottom: 10px;
	border-radius: 15px;
}
.sidhuvud p{
	white-space: nowrap;
	position: absolute;
  	left: 60px;
  	font-family: monospace;
  	font-size: larger; 
}
.sidhuvud img{
	float: right;
	height: 100%;
	padding-right: 15px;
}
.meny{
	grid-area: meny;
	border: dotted black 1px;
	background: white;
	display: flex;
	justify-content: flex-end;
}
.meny div{
	background: lightgray;
	text-align: center;
	margin: 10px;
	width: 203px;
	border-radius: 15px;
}
.meny a{
	font-family: fantasy;
	color: black;
}
a:hover{
	color: blue;
}
.övrigt{
	grid-area: övrigt;
	border: dotted purple 1px;
	background: white;
}
.övrigt p{
	
	font-style: italic;
}
.övrigt h3{
	padding-top: 30px;
}
.övrigt button{
	background-color: silver;
	border-radius: 5px;
}
.övrigt button:hover{
	color: dimgray;
}
.huvudinnehåll{
	grid-area: huvudinnehåll;
	border: dotted black 1px;
	background: white;
	display: flex;
	justify-content: space-around;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: monospace;
	
}
.huvudinnehåll div{
	border: solid black 1px;
	background: white;
	width: 31%;
}
.huvudinnehåll h1{

}
.huvudinnehåll img{
  	width:100%;
  	border-radius: 15px;
	margin-top: 50px;
	height: 180px;  
}
.huvudinnehåll button{
	background-color: silver;
	border-radius: 5px;
}
.huvudinnehåll button:hover{
	color: dimgray;
}
.sidfot{
	grid-area: sidfot;
	border: dotted black 1px;
	display: flex;
	justify-content: space-around;
	align-content: center;
	background: darkgray;
	
}
.sidfot h4{
	font-family: monospace;
	color: gray;
	padding-top: 4%;
	padding-left: 20%;
	margin-right: -300px;
}
.sidfot img{
	align-self: center;
	max-width:500px;
  	max-height:150px;
	border-radius: 15px;
	margin-left: 150px;
}
.kontaktinfo{
	background: black;
	font-style: oblique;
	display: flex;
	flex-wrap: wrap;
}
.kontaktinfo div{
	width: 600px;
	background: white;
	border-radius: 15px;
}
.kontaktinfo img{
  	float: left;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.kontaktinfo h2{
	padding-left: 232px;
	margin-top: 5px;
	margin-bottom: -15px;
}
.kontaktinfo p{
	padding-left: 232px;
}
.kontaktinfo ul{
	font-size: 17px;
	position: absolute;
	top: 130px;
  	left: 200px;
  	width: 10px;
  	height: 10px;
}
.kontaktinfo li{
	white-space: nowrap;
	margin-left: 18px;
}
.kontaktinfo a{
	background-color: black;
	border-radius: 10px;
	color: white;
	font-family: fantasy;
	font-style: normal;
	width: 70px;
	text-align: center;
	position: absolute;
	top: 208px;
	left: 530px;
}
.kontaktinfo a:hover{
	color: blue;
}
.produktinfo{
	grid-area: huvudinnehåll;
	border: dotted red 1px;
	background: white;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: monospace;
	
	
}
.produktinfo div{
	
	
}
.produktinfo table{
	
	background-color: white;
	border: solid black 1px;
	margin-right: 500px;
	width: 100%;
	height: 422px;
}
.produktinfo tr{
	
	
}
.produktinfo th, td{
	background-color: darkgray;
	border: solid red 1px;
	width:100%;
	
}
.produktinfo th{
	font-size:100%;
	
}