html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  border-top: solid black 1px;
  border-left: solid black 1px;
  border-right: solid black 1px;
  display: grid;
  grid-template-rows: 4fr 2fr 25fr 8fr;
  grid-template-areas:
    "sidhuvud sidhuvud sidhuvud sidhuvud"
    "meny meny meny meny"
    "huvudinnehåll huvudinnehåll huvudinnehåll övrigt"
    "sidfot sidfot sidfot sidfot";
}
.sidhuvud {
  grid-area: sidhuvud;
  background: lightgray;
  display: flex;
  border-bottom: solid black 1px;
}
.sidhuvud div {
  align-self: flex-end;
  background: white;
  height: 50px;
  width: 250px;
  margin-left: 5px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: solid black 1px;
}
.sidhuvud p {
  white-space: nowrap;
  position: absolute;
  left: 60px;
  font-family: monospace;
  font-size: larger;
}
.sidhuvud img {
  float: right;
  height: 100%;
  padding-right: 15px;
}
.meny {
  grid-area: meny;
  background: white;
  display: flex;
  justify-content: flex-end;
}
.meny div {
  background: lightgray;
  text-align: center;
  margin: 10px;
  width: 203px;
  border-radius: 5px;
  border: solid black 1px;
}
.meny a {
  font-family: fantasy;
  color: black;
}
a:hover {
  color: blue;
}
.övrigt {
  grid-area: övrigt;
  background: white;
  border-top: solid black 1px;
}
.övrigt h3 {
  padding-top: 30px;
  padding-left: 30px;
}
.övrigt p {
  font-style: italic;
  padding-left: 30px;
}
.övrigt button {
  background-color: silver;
  border-radius: 5px;
  margin-left: 30px;
}
.övrigt button:hover {
  color: dimgray;
}
.undrar {
  float: right;
  padding-right: 25px;
}
.huvudinnehåll {
  grid-area: huvudinnehåll;
  display: flex;
  align-items: center;
  background: white;
  padding: 50px 10px;
  font-family: monospace;
  border-top: solid black 1px;
}
.huvudinnehåll div {
  border: solid black 1px;
  background: white;
  width: 50%;
  height: 100%;
  margin: 10px;
  border-radius: 2px;
}
.huvudinnehåll h1 {
  margin-left: 10px;
}
.huvudinnehåll img {
  margin: 12%;
  width: 70%;
  height: 30%;
}
.huvudinnehåll button {
  background-color: silver;
  border-radius: 3px;
  margin-left: 10px;
}
.huvudinnehåll button:hover {
  color: dimgray;
}
.sidfot {
  grid-area: sidfot;
  display: flex;
  justify-content: center;
  background: darkgray;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}
.sidfot div {
  display: flex;
  margin: 10px;
}
.sidfot h4 {
  width: 100%;
  align-self: center;
  font-family: monospace;
  color: gray;
}
.sidfot img {
  align-self: center;
  width: 220px;
  height: 120px;
  border-radius: 5px;
  margin-left: 200px;
}
.kontaktinfo-2 {
  grid-area: huvudinnehåll;
  background: white;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: monospace;
  border-top: solid black 1px;
}
.kontaktinfo-2 div {
  border: solid black 1px;
  width: 600px;
  height: 225px;
}
.kontaktinfo-2 img {
  float: left;
}

.kontaktinfo-2 h2 {
  padding-left: 232px;
  margin-top: 5px;
  margin-bottom: -15px;
}
.kontaktinfo-2 p {
  padding-left: 232px;
}
.kontaktinfo-2 ul {
  font-size: 17px;
  position: absolute;
  top: 310px;
  left: 210px;
  width: 10px;
  height: 10px;
}
.kontaktinfo-2 li {
  /* tar bort mellanrum */
  white-space: nowrap;
  margin-left: 18px;
}
.kontaktinfo-2 span {
  font-size: 17px;
  text-decoration-line: underline;
  position: absolute;
  top: 305px;
  left: 250px;
  width: 10px;
  height: 10px;
}
.produktinfo {
  grid-area: huvudinnehåll;
  background: white;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: monospace;
  border-top: solid black 1px;
}
.produktinfo table {
  background-color: white;
  border: solid black 1px;
  border-radius: 2px;
  width: 600px;
  height: 225px;
}
.produktinfo th,
td {
  background-color: darkgray;
  width: 100px;
  font-size: 125%;
  text-align: center;
}
.produktinfo th {
  font-size: 150%;
  text-decoration: underline;
}

@media (max-width: 768px) {
  /* layout för mobil */

  .container {
    height: 1100px;
    border-right: none;
    display: flex;
    flex-direction: column;
  }
  .sidhuvud {
    height: 83px;
  }
  .huvudinnehåll {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 10px;
  }
  .huvudinnehåll div {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
  }
  .huvudinnehåll img {
    width: 30%;
    height: 60px;
  }
  .övrigt {
    font-size: 10px;
    margin-left: 20px;
    border: none;
  }
  .övrigt h3 {
    padding: 0;
  }
  .övrigt p {
    font-style: italic;
    padding: 0;
  }
  .övrigt button {
    background-color: silver;
    border-radius: 5px;
    margin: 0;
  }
  .undrar {
    float: left;
  }
  .sidfot {
    grid-area: sidfot;
    height: 166px;
  }
  .sidfot div {
    margin: 10px;
  }
  .sidfot h4 {
    font-size: 10px;
    width: 100%;
    color: black;
    align-self: center;
    padding: 0;
    margin: 0;
    padding-top: 25px;
  }
  .sidfot img {
    align-self: center;
    width: 200px;
    height: 100px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
  }
  .kontaktinfo-2 {
    padding: 10px;
    width: 380px;
    height: 180px;
    font-size: 10px;
    border: none;
  }
  .kontaktinfo-2 div {
    width: 100%;
    height: 180px;
  }
  .kontaktinfo-2 img {
    width: 55%;
    height: 180px;
  }
  .kontaktinfo-2 ul {
    font-size: 10px;
    position: absolute;
    top: 340px;
    left: 185px;
    width: 10px;
    height: 10px;
  }
  .kontaktinfo-2 h2 {
    font-size: 14px;
    padding-left: 210px;
    margin-top: 15px;
    margin-bottom: -15px;
  }
  .kontaktinfo-2 p {
    margin-top: 15px;
    padding-left: 210px;
  }
  .kontaktinfo-2 span {
    font-size: 12px;
    position: absolute;
    top: 335px;
    left: 230px;
    width: 10px;
    height: 10px;
  }
  .produktinfo {
    width: 300px;
    border: none;
    padding: 10px;
  }
  .produktinfo table {
    font-size: 10px;
    width: 55%;
    height: 180px;
  }
  .meny {
    width: 400px;
  }
}
